:root {
  --primary-color: rgb(12, 77, 162);
  --secondary-color: rgb(236, 0, 140);
  --text-color: #555;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Neuton", serif;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

/* CSS for Nav item */
#active-page {
  color: var(--secondary-color);

  transform: scale(1.01);
  overflow-x: hidden;
}

.nav-item .nav-link {
  color: var(--primary-color);
  font-weight: 500;
}
.nav-item .nav-link:hover {
  transform: scale(1.01);
  color: var(--secondary-color);
}
.nav-item .dropdown-menu {
  border-top: 2px solid var(--primary-color);
}
.dropdown-menu .dropdown-item {
  font-size: 14px;
}

.hero-about {
  background: url("./img/13777983_gradient_2.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.secondary-header {
  color: #fff;
  line-height: 1.2px;
  letter-spacing: 0.2px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 48px;
}

.australia-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.about-us {
  margin-top: 60px;
}

.countryIntro {
  min-height: fit-content;
}
.countryIntro p {
  font-size: 14px;
  line-height: 1.8;
  color: #444;
  text-align: justify;
}

.col-lg-7 h2 {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 32px;
}
.countryInfo {
  margin-top: 50px;
}
#btnConsult {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  background-color: var(--primary-color);
  padding: 15px 30px;
  /* border: 1px solid var(--secondary-color); */
  box-shadow: 1px -1px 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 600ms ease-in;
  animation: slideIn 2s linear;
}

#btnConsult:hover {
  color: var(--primary-color);
  background: #fff;

  border: 1px solid var(--secondary-color);
}
@keyframes slideIn {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0px);
  }
}

.whatweOffer {
  margin-top: 60px;
  background: url("./img/canada.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20px;
}
.whatweOffer h2 {
  padding-top: 10px;
  color: #fff;
  opacity: 1;
  font-weight: bold;
}

.col-sm-4 .card {
  width: 180px;
  transition: all 800ms linear;
  box-shadow: 1px -1px 1px 1px rgba(236, 0, 140, 0.1);
}
.col-sm-4 .card:hover {
  transform: rotateY(360deg);
}
.card .imgbx {
  height: 80px;
  width: 80px;
  margin: 10px auto;
  padding: 3px;
  border-radius: 50%;
  /* border: 1px dotted black; */
  box-shadow: 0px -1px 4px 2px rgba(236, 0, 140, 0.1);
  z-index: 1;
}

.card .imgbx img {
  display: block;
  margin: 11px;
  height: 70%;
  width: 70%;
  object-fit: cover;
  padding: 3px;
  border-radius: 10%;
  z-index: -1;
}

.card .card-body h6 {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.1rem;
}

/* Faq and other countries Css */
#admission .admission {
  margin-left: -30px;
}
.countryIn {
  margin-top: 30px;
  padding-top: 30px;
}

.countryI p {
  text-align: justify;
}
/* footer Css*/
.wrap > .row {
  margin-left: 20px;
}
.footer {
  margin-top: 30px;
}

.footer-lst,
li {
  list-style: none;
}
.footer-lst,
li > a {
  font-size: 14px;
  text-decoration: none;
  color: var(--text-color);
}
.footer-lst,
li > a:hover {
  text-decoration: underline;
}

#footerImgCol > img {
  height: 120px;
  width: 220px;
}
#footerImgCol p {
  font-size: 14px;
  color: var(--text-color);
}
.footer-h {
  color: var(--primary-color);
}

.h6-color > h6 {
  color: var(--primary-color);
}
.service > .row {
  height: 170px;
}
#cta {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  background-color: var(--primary-color);
  padding: 10px 20px;
  border: 1px solid var(--secondary-color);
  transition: all 600ms linear;
}
#cta:hover {
  color: var(--primary-color);
  background: #fff;

  border: 1px solid var(--secondary-color);
}
.rights {
  background: rgba(12, 77, 162);
  width: 100%;
  height: 100%;
  background-size: cover;
}
.right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.right > p {
  color: #fff;
}
.right p > a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.right p > a:hover {
  color: #fff;
}

.bx {
  color: var(--secondary-color);
}

@media (max-width: 767px) {
  .bgimg img {
    height: 1300px;
  }
}

@media (max-width: 820px) {
  .bgimg img {
    height: 480px;
  }
}
.footer {
  overflow-x: hidden;
}
